@import './_reset.css';

body {
  font-family: 'Gill Sans MT', sans-serif;
  background: hsl(212deg, 32%, 8%);
  color: hsl(230deg, 100%, 67%);
}

h1 {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  padding-top: 2rem;
}
